.html
{
	background-color: #F7F9EC;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 695px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -13px;
}

#pu2729
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u2729
{
	z-index: 2;
	width: 1224px;
	margin-right: -10000px;
}

#menuu85
{
	z-index: 4;
	width: 594px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 510px;
}

#u86
{
	width: 148px;
	min-height: 71px;
	margin-right: -10000px;
}

#u87
{
	width: 148px;
	padding-bottom: 42px;
}

#u87:hover
{
	margin: 0px;
}

#u110
{
	width: 148px;
	min-height: 71px;
	margin-right: -10000px;
	left: 148px;
}

#u113
{
	width: 148px;
	padding-bottom: 42px;
}

#u87.MuseMenuActive,#u113:hover
{
	margin: 0px;
}

#u89-4_clip,#u116-4_clip
{
	width: 148px;
	height: 29px;
}

#u652
{
	width: 149px;
	min-height: 71px;
	margin-right: -10000px;
	left: 296px;
}

#u653
{
	width: 149px;
	padding-bottom: 42px;
}

#u113.MuseMenuActive,#u653:hover
{
	margin: 0px;
}

#u178
{
	width: 149px;
	min-height: 71px;
	margin-right: -10000px;
	left: 445px;
}

#u179
{
	width: 149px;
	padding-bottom: 42px;
}

#u653.MuseMenuActive,#u179:hover
{
	margin: 0px;
}

#u179.MuseMenuActive
{
	margin: 0px;
}

#u654-4_clip,#u180-4_clip
{
	width: 149px;
	height: 29px;
}

#u89-4,#u116-4,#u654-4,#u180-4
{
	margin-right: -10000px;
	top: 21px;
}

#pu737
{
	width: 0.01px;
	left: -19px;
	margin-top: 6px;
	position: relative;
}

#u737
{
	z-index: 65;
	width: 352px;
	-pie-box-shadow: none;
	-moz-box-shadow: 5px 6px 8px rgba(127, 127, 127, 0.5);
	-webkit-box-shadow: 5px 6px 8px -1px rgba(127, 127, 127, 0.5);
	box-shadow: 5px 6px 8px rgba(127, 127, 127, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-webkit-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-16,16);
	-ms-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-16,16);
	-o-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-16,16);
	transform: matrix(0.9962,-0.0872,0.0872,0.9962,-16,16);
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 13px;
}

#u737_clip
{
	overflow: hidden;
	width: 352px;
	height: 384px;
}

#u737_img
{
	margin: -2px -15px -15px -2px;
}

#ppu1073-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 409px;
}

#pu1073-4
{
	width: 0.01px;
	position: relative;
}

#u1073-4
{
	z-index: 57;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1075-4
{
	z-index: 61;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 216px;
}

#u1072-17
{
	z-index: 40;
	width: 604px;
	min-height: 334px;
	text-align: justify;
	margin-top: 7px;
	position: relative;
}

#u1072-2
{
	font-weight: bold;
}

#u1072-15
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1072-4,#u1072-6,#u1072-7,#u1072-9,#u1072-10,#u1072-12,#u1072-13,#u1072-14
{
	font-size: 16px;
	line-height: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1027
{
	z-index: 29;
	width: 1223px;
	padding-bottom: 4px;
	left: -101px;
	margin-top: 53px;
}

#u2683
{
	z-index: 34;
	width: 52px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 146px;
}

#u2690
{
	z-index: 36;
	width: 53px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 218px;
}

#u2690_clip
{
	width: 53px;
	height: 52px;
}

#u2690_img
{
	margin-right: -3px;
}

#u2696
{
	z-index: 38;
	width: 56px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 289px;
}

#u2682-4
{
	z-index: 30;
	width: 394px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 829px;
}

body
{
	padding-top: 36px;
	padding-bottom: 20px;
}

#page .verticalspacer
{
	clear: both;
}

