body {
	width : 100%;
	height : 100%;
	background-color: #F0F8FF;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #494949;
	text-align: left;
	font-weight: 300;
}

a {
	color:#0099CC;
    text-decoration: none;
}

a:hover {
    color: #A8A8A8;
}

a:active {
    color: #A8A8A8;
    padding-top: 1px;
}

h1 {
    text-shadow: .5px .5px .5px black;

}
.columnr {
	position: relative;
  	top: 15%;
	width: 48%;
	float: right;
	margin-right: 15px;
	padding-top: 100px;
}

.columnl {
	position: relative;
	top: 15%;
	width: 40%;
	float: left;
	padding-left: 120px;
	padding-top: 100px;
	font-size: 14px;
	color: #808080;
	padding-bottom: 40px;
}

.columnr2 {
	position: relative;
  	top: 18%;
	width: 40%;
	float: right;
	padding-right: 100px;
	padding-top: 140px;
}

.columnl2 {
	position: relative;
	top: 10%;
	width: 40%;
	float: left;
	padding-left: 100px;
	padding-top: 100px;
}

.topbar {
   	position:fixed;
   	top:0;
 	left:0;
 	width:100%;
   	height:70px;
   	background-color:#494949;
   	box-shadow: 0px 5px 10px #888888;
   	z-index: 150;
}

.topbartext {
	padding-left: 5px;
	padding-top: 20px;
	font-size: 15px;
}

.headerlink {
	float: left;
	color:#D8D8D8;
	margin-left: 25px;
	margin-top: 4px;
}

a.headerlink:hover {
	color: white;

}

.logo {
	color:#D8D8D8;
	float: right;
	margin-right: 25px;
	padding-top: 4px;

}

.imglink {
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 30px;
	padding-top: 0px;
text-shadow: .5px .5px .5px black;

}

.download {
	color:#0099CC;
	float: right;
	margin-right: 25px;
}

.image {
	border-radius: 30px;
	width: 450px;
	height: 470px;
	box-shadow: 2px 5px 10px #888888;

}

.bioimage {
	border-radius: 30px;
	width: 90%;
	height: 35%;
	box-shadow: 2px 5px 10px #888888;

}